.chat-main
  .group-info
    .group-name
      = @group.group_name
      .group-name__member
        - @group.users.each do |user|
          =user.name
    .group-info__edit-btn
      = link_to edit_group_path(@group) do
        Edit
  .message-list
    = render @messages

  .message-footer
    = form_with model: [@group, @message], html: {class:"Form"} do |f|
      .message-footer__form
        =f.text_field :message, class: "input_box", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('far', 'image', class: 'image')
          = f.file_field :image, class: "input-file"
        = f.submit 'Send', class: "send-btn"