.side-bar
  .user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path(@group) do
          = icon('far', 'edit', class: 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'cog')
  .group-list
    - current_user.groups.each do |group|
      .group-box
        = link_to '#' do
          .group-name
            = group.group_name
          .group-last-message
            まだメッセージはありません