.side-bar
  .user-name
    .top-items
      .top-items__name
        = current_user.name 
      .top-items__icons
        = link_to new_group_path(@group),data: {"turbolinks" => false} do
          = icon('far', 'edit', class: 'edit')
        = link_to edit_user_path(current_user), data: {"turbolinks" => false} do
          = icon('fas', 'cog', class: 'cog')
  .group-list
    - current_user.groups.each do |group|
      .group-box
        = link_to group_messages_path(group),data: {"turbolinks" => false} do
          .group-name
            = group.group_name
          .group-last-message
            = group.show_last_message
            -# - if group.messages.present?
            -#   = group.messages.last.message
            -# - else
            -#   まだメッセージはありません
            -# 上記でも記述はできるが、モデルでメソッドを別途定義してスッキリする